doctype html
html(lang='he')
   include head
   body
      div.main
         h2 הוספת סטודנטי/ת למערכת
         form(method = "post" action = "add")
            label(for="id") מספר ת.ז:  
               input(type="text" id="id" name="id" minlength="4" maxlength="9" value=id required)
            label(for="name") שם:
               input(type="text" id="name" name="name" value=name required)
            label(for="city") עיר: 
               input(type="text" id="city" name="city" value=city required)
            label(for="toar") תואר: 
               select(id="toar" name="toar" required)
                  option(value="ba" selected=sug_toar['ba']) תואר ראשון
                  option(value="ma" selected=sug_toar['ma']) תואר שני
                  option(value="phd" selected=sug_toar['phd']) דוקטור
            button(id="button" type="submit") הוספת סטודנט/ית
      a(id="button" class='return' href="/student") חזרה לדף הבית
   include footer