doctype html
html(lang='he')
  include head
  body
    h2 祝 转
    div.main
      form(method = "post" action = "/student")
        label(for="toar") 转专: 
          select(id="toar" name="toar" selected="")
            option(value="all") --  转专 --
            option(value="ba" selected=sug_toar['ba']) 转专 专砖
            option(value="ma" selected=sug_toar['ma']) 转专 砖
            option(value="phd"  selected=sug_toar['phd']) 拽专
        label(for="city") 注专:
          input(type="text" id="city" name="city" value=city)
        label(for="avg") 爪注 爪 : 
          input(type="number" id="avg" name="avg" min="0" max="100" value=grade)
        button(id="button" type="submit") 住
      hr
      -if (students.length === 0) 
        p  爪 住 注专转 
      -else
        table
          caption 住:
          tr 
            th 住' 转..
            th 砖 住
            th(colspan="2") 驻注转 爪注
            tr    
              each student in students
                td #{student.id}
                td #{student.name}
                td(colspan="2")
                  form(method="post" action="student/delete/"+ student.id onsubmit="return confirm(' 砖专 转 驻注 注 转 拽 转 住 注专转!')")
                    button(class="delete" id="button" type="submit") 拽转 住
                  form(method="get" action="student/update/"+ student.id)
                    button(id="button" type="submit") 注 住
                    tr
    a(id="button" class="new" href='/student/add') 住驻转 住 注专转
  include footer