doctype html
html(lang='he')
    include head
    body
        div.main
            h2 注 驻专 住:
                form(action='/student/update/'+id method="post") 
                    input(type="hidden" name="action" value="updatestudent")
                    label(for="id") 住驻专 转.:
                        input(type="text" id="id" name="id" value=id readonly)
                    label(for="name") 砖:
                        input(type="text" id="name" name="name" value=name)
                    label(for="city") 注专:
                        input(type="text" id="city" name="city" value=city)
                    -const toars = ['ba', 'ma', 'phd']
                    label(for="toar") 转专 (拽爪专):
                        //-ba - 转专 专砖, ma - 转专 砖, phd - 拽专 
                        select(id="toar" name="toar")
                            each degree in toars
                                option(value=degree selected=(degree==toar ? 'selected' : false)) #{degree}
                    button(id="button" type="submit") 注 住
                hr
                -if (courses.length === 0) 
                    p  爪 拽专住 砖 住 注专转 
                -else
                    table
                        caption 拽专住  
                            tr
                                th 拽 拽专住
                                th 爪 住驻
                                tr
                                    each course in courses
                                        td #{course.cid} 
                                        td #{course.grade}
                                        tr
            h2 住驻转 拽专住 砖:
                form(action='/student/update/'+id method="post")
                    input(type="hidden" name="action" value="addcourse")
                    label(for="cid") 拽 拽专住:
                        input(type="number" id="cid" name="cid" value=cid required)
                    label(for="grade") 爪:
                        input(type="number" id="grade" name="grade" min="0" max="100" value=grade required)
                    button(id="button" type="submit") 住驻转 拽专住
        a(id="button" class='return' href="/student") 专 祝 转
    include footer